<table class="tx-gbevents-pi1" >
  <tr>
    <td>
      <f:translate key="tx_gbevents_domain_model_event.title" />
    </td>
    <td>
      {event.title}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_gbevents_domain_model_event.teaser" />
    </td>
    <td>
      {event.teaser}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_gbevents_domain_model_event.description" />
    </td>
    <td>
      {event.description}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_gbevents_domain_model_event.location" />
    </td>
    <td>
      {event.location}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_gbevents_domain_model_event.event_date" />
    </td>
    <td>
      {event.eventDate -> f:format.date()}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_gbevents_domain_model_event.event_stop_date" />
    </td>
    <td>
      {event.eventStopDate -> f:format.date()}
    </td>
  </tr>
  <tr>
    <td>
      <f:translate key="tx_gbevents_domain_model_event.event_time" />
    </td>
    <td>
      {event.eventTime}
    </td>
  </tr>
  <f:if condition="{event.images}">
    <tr>
      <td>
        <f:for each="{event.images}" as="image">
          <f:image src="{image}" width="120" height="120" alt="Image" />
        </f:for>
      </td>
    </tr>
  </f:if>
  <f:if condition="{event.downloads}">
    <tr>
      <td>
        <f:for each="{event.downloads}" as="download">
          <f:link.page pageUid="{download.file}">{download.name}</f:link.page>
        </f:for>
      </td>
    </tr>
  </f:if>
</table>
