<f:form.errors>
  <div class="error">
    {error.message}
    <f:if condition="{error.propertyName}">
      <p>
        <strong>{error.propertyName}</strong>:
        <f:for each="{error.errors}" as="errorDetail">
          {errorDetail.message}
        </f:for>
      </p>
    </f:if>
  </div>
</f:form.errors>
